POSTGRES_USER=your db
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourname

SECRET_KEY=your sec
ALGORITHM=your ALGORITHM

DATABASE_URL=your DATABASE_URL

SMTP_SERVER=your SMTP_SERVER
SMTP_PORT=your port
SENDER_EMAIL=your SENDER_EMAIL
SENDER_PASSWORD=your firstPassword123

CORS_ORIGINS= core